@import "bulma/sass/utilities/initial-variables";

$red: #E7364A;
$purple: #330335;
$dark: $purple;

$size-1: 7.993em;
$size-2: 5.653em;
$size-3: 3.998em;
$size-4: 2.827em;
$size-5: 1.999em;
$size-6: 1.414em;
$size-7: 1em;

