@import "bulma/sass/utilities/initial-variables";

$red: #E7364A;
$purple: #330335;
$dark: $purple;

$size-1: 7.993rem;
$size-2: 5.653rem;
$size-3: 3.998rem;
$size-4: 2.827rem;
$size-5: 1.999rem;
$size-6: 1.414rem;
$size-7: 1rem;

$section-padding: 3rem;
$section-padding-medium: 9rem 3rem;
$section-padding-large: 18rem 3rem;
