@import "./bulma-config.scss";
@import "bulma";

@import "./reset.css";


* {
  box-sizing: border-box;
}

body {
  color: $purple;
  font-family: Barlow;
  scroll-behavior: smooth;
  min-width: 400px;
  @media screen and (min-width: $tablet) {
    padding: 40px;
  }
}

h1 { font-size: $size-1 }
h2 { font-size: $size-2 }
h3 { font-size: $size-3 }
h4 { font-size: $size-4 }
h5 { font-size: $size-5 }
h6 { font-size: $size-6 }

h1,h2,h3,h4,h5,h6 { margin: 0 }

.background {
  align-items: center;
  background: $purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.white { color: white }
.purple { color: $purple }
.red { color: $red }

.flicker { animation: flicker 2.5s ease-out infinite }
.slant { transform: skew(-6deg) rotate(-6deg) }

.header {
  font-weight: 700;
  line-height: 0.93em;
  text-align: center;
}

.clickable:hover { cursor: pointer }

.barlow {
  font-family: "Barlow", Helvetica, "Sans-Serif";
  font-weight: 600;
}
.condensed { font-family: "Barlow Condensed" }

.fixed {
  position: fixed;
  top: 2rem;
}
