/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../../static/fonts/Barlow/barlow-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Regular'), local('Barlow-Regular'),
       url('../../static/fonts/Barlow/barlow-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../static/fonts/Barlow/barlow-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/Barlow/barlow-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../static/fonts/Barlow/barlow-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../static/fonts/Barlow/barlow-v1-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../../static/fonts/Barlow/barlow-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Barlow Bold'), local('Barlow-Bold'),
       url('../../static/fonts/Barlow/barlow-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../static/fonts/Barlow/barlow-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/Barlow/barlow-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../static/fonts/Barlow/barlow-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../static/fonts/Barlow/barlow-v1-latin-700.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'),
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Bold'), local('BarlowCondensed-Bold'),
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../static/fonts/BarlowCondensed/barlow-condensed-v1-latin-700.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
