@import "../../stylesheets/bulma-config.scss";

.navbar {
  align-items: flex-start !important;
  padding: 40px;
  position: relative;
  box-sizing: border-box;
  @media screen and (max-width: $tablet) {
    padding: 40px 0;
  }
  &:before {
    content: " ";
    background: linear-gradient(180deg, $purple 0%, transparent 100%);
    height: calc(100% - 20px);
    opacity: 1;
    position: absolute;
    width: calc(100% - 80px);
    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }
  &.bg-red:before {
    background: linear-gradient(180deg, $red 0%, transparent 100%);
  }
  &.bg-white {
    .navbar-item,
    .navbar__logo,
    .button {
      color: $purple !important;
      transition: color 250ms ease-in;
    }
    .button {
      border: 1px solid $purple !important;
      transition: border 250ms ease-in;
    }
    &:before {
      background: linear-gradient(180deg, white 0%, transparent 100%);
    }
  }
}

.navbar .container {
  align-items: flex-start !important;
  padding-top: 1.75rem;
}

.navbar.is-transparent {
  background: transparent;
}

.navbar .navbar-item:not(.navbar__logo) {
  box-sizing: border-box;
  &:hover { background: unset }
  @media screen and (max-width: $desktop) {
    display:none;
  }
}


.navbar .navbar__logo {
  margin-top: 0.71rem;
  @media screen and (min-width: $desktop) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.navbar .navbar-item .navbar__link {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.pd__navbar-item {
  border: 1px solid $red
}
